.productImg{
    width:100px;
}
ul{
    list-style: none;
    flex-wrap: wrap;
}
li{
    padding: 20px;
    margin-right: 100px;
}
p{
    width: 200px;
}
h3{
    width: 200px;
}
.grid-container {
    display: grid;
  grid-template-columns: 85% 15% ;
    
    
  }
  .grid-item {
    background-color: rgba(255, 255, 255, 0.8);
    border: 1px solid rgba(0, 0, 0, 0.8);
  
    text-align: center;
  }
  .right{
      position: fixed;
    height: 400px;
      overflow-y: scroll;
	  text-align:center;
	
  }
  .right::-webkit-scrollbar {
    display: none;
}
#left-side{
    visibility: visible;
    display: flex;
}
.smallPic{
    width: 75px;
    padding: 10px;
	margin-bottom:20px;
 
}
#cart{
        display: none;
}

@media screen and (max-width: 900px) {
    .grid-container {
        display: block;     
        margin: 0;
        padding: 0;
        
      }
      body{
          margin: 0;
          padding: 0;
      }
      .right{
          position: fixed;
        display: block;
      top:0;
      width: 100%;
         text-align:center;
         visibility: hidden;
         margin-top: 40px;
       
     }
     #cart{
        display: block;
        padding: 10px;
        width: 100%;
    }
    .header{
        background-color: beige;
        margin: 0%;
        position: fixed;
        top: 0%;
      z-index: 1;
        height: 50px;
        width:100%;
      
    }
    .smallPic{
        width: 150px;
        padding: 10px;
        margin-bottom:20px;
     
    }
    .h5{
        font-size: 26px;
    }
    #left-side{
       
        display: block;
    }
    li{
        padding: 20px;
      text-align: center;
    }
    p{
        width: auto;
    }
    h3{
        width: auto;
    }
   
  }
  